cisti_dtmf_123456789_0__min_pulse_0.1_min_pause_0.1.wav
malo_suma_dtmf_123_min_pulse_0.2_min_pause_0.1_noise_low.wav
prekratki_dtmf_124679_min_pulse_0.1_min_pause_0.1.wav
primer_ki_ga_uporablja_test_s.zip
srednje_suma_dtmf_123_min_pulse_0.2_min_pause_0.1_noise_med.wav
vaje_z_vaj.zip
veliko_suma_dtmf_123_min_pulse_0.2_min_pause_0.1_noise_high.wav
vaje_z_vaj
primer_ki_ga_uporablja_test_s